[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/bmp"]
	path = extern/bmp
	url = https://github.com/Phandal/bmp
[submodule "extern/cglm"]
	path = extern/cglm
	url = https://github.com/recp/cglm.git
